- name: Deploy build assets via SFTP
  uses: wlixcc/SFTP-Deploy-Action@v1.2.4
  with:
    server: ${{ secrets.HOSTINGER_HOST }}
    username: ${{ secrets.HOSTINGER_USER }}
    password: ${{ secrets.HOSTINGER_PASS }}
    port: ${{ secrets.HOSTINGER_PORT }}

    # LOCAL
    local_path: public/build

    # REMOTE (NO LEADING SLASH)
    remote_path: public_html/gtac/public/build

    sftp_only: true
    delete_remote_files: false