name: build_and_deploy

on:
  push:
    branches: ["main"]

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm install

      - name: Build Frontend Assets
        run: npm run build

      - name: Deploy build assets via SFTP
        uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
          server: ${{ secrets.HOSTINGER_FTP_SERVER }}
          port: ${{ secrets.HOSTINGER_FTP_PORT }}
          username: ${{ secrets.HOSTINGER_FTP_USER }}
          password: ${{ secrets.HOSTINGER_FTP_PASSWORD }}

          local_path: public/build
          remote_path: /public_html/gtac/public/build

          delete_remote_files: true